
RewriteEngine on
RewriteCond %{HTTP_HOST} ^nishil\.nishilkohli\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.nishil\.nishilkohli\.com$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "http\:\/\/nishil\.in" [R=301,L]
